In [6]:
#data Cleaning
import pandas as pd

In [7]:
data=pd.read_csv("C:/Users/LOQ/Documents/GUVI DS/Project-SecureCheck/Dataset/traffic_stops.csv")

C:\Users\LOQ\AppData\Local\Temp\ipykernel_20764\2362226831.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv("C:/Users/LOQ/Documents/GUVI DS/Project-SecureCheck/Dataset/traffic_stops.csv")

In [8]:
data.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305

In [9]:
data.tail()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,NaN,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,NaN,Ticket,True,16-30 Min,False,UP89PT2924

In [10]:
data.dropna(axis=1,how ='all',inplace=True)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  object
 1   stop_time           65538 non-null  object
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age_raw      65538 non-null  int64
 5   driver_age          65538 non-null  int64
 6   driver_race         65538 non-null  object
 7   violation_raw       65538 non-null  object
 8   violation           65538 non-null  object
 9   search_conducted    65538 non-null  bool
 10  search_type         43818 non-null  object
 11  stop_outcome        65538 non-null  object
 12  is_arrested         65538 non-null  bool
 13  stop_duration       65538 non-null  object
 14  drugs_related_stop  65538 non-null  bool
 15  vehicle_number      65538 non-null  object
dtypes: bool(3), int64(2), object(11)
memory usage: 6.7+ MB

In [12]:
data.drop('driver_age_raw',axis=1,inplace=True)

In [13]:
data['driver_age'].isna().sum()

np.int64(0)

In [80]:
#data.drop('driver_race',axis=1,inplace=True)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  object
 1   stop_time           65538 non-null  object
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age          65538 non-null  int64
 5   driver_race         65538 non-null  object
 6   violation_raw       65538 non-null  object
 7   violation           65538 non-null  object
 8   search_conducted    65538 non-null  bool
 9   search_type         43818 non-null  object
 10  stop_outcome        65538 non-null  object
 11  is_arrested         65538 non-null  bool
 12  stop_duration       65538 non-null  object
 13  drugs_related_stop  65538 non-null  bool
 14  vehicle_number      65538 non-null  object
dtypes: bool(3), int64(1), object(11)
memory usage: 6.2+ MB

In [15]:
data.fillna({"search_type":"None"},inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  object
 1   stop_time           65538 non-null  object
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age          65538 non-null  int64
 5   driver_race         65538 non-null  object
 6   violation_raw       65538 non-null  object
 7   violation           65538 non-null  object
 8   search_conducted    65538 non-null  bool
 9   search_type         65538 non-null  object
 10  stop_outcome        65538 non-null  object
 11  is_arrested         65538 non-null  bool
 12  stop_duration       65538 non-null  object
 13  drugs_related_stop  65538 non-null  bool
 14  vehicle_number      65538 non-null  object
dtypes: bool(3), int64(1), object(11)
memory usage: 6.2+ MB

In [16]:
data['Timestamp']=pd.to_datetime(data['stop_date']+' '+data['stop_time'])

In [17]:
data.head(5)

,stop_date,stop_time,country_name,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number,Timestamp
0,2020-01-01,0:00:00,Canada,M,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473,2020-01-01 00:00:00
1,2020-01-01,0:01:00,India,M,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441,2020-01-01 00:01:00
2,2020-01-01,0:02:00,USA,M,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264,2020-01-01 00:02:00
3,2020-01-01,0:03:00,Canada,M,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807,2020-01-01 00:03:00
4,2020-01-01,0:04:00,Canada,M,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305,2020-01-01 00:04:00

In [18]:
data.drop('violation_raw',axis=1,inplace=True)
data.drop('is_arrested',axis=1,inplace=True)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  object
 1   stop_time           65538 non-null  object
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age          65538 non-null  int64
 5   driver_race         65538 non-null  object
 6   violation           65538 non-null  object
 7   search_conducted    65538 non-null  bool
 8   search_type         65538 non-null  object
 9   stop_outcome        65538 non-null  object
 10  stop_duration       65538 non-null  object
 11  drugs_related_stop  65538 non-null  bool
 12  vehicle_number      65538 non-null  object
 13  Timestamp           65538 non-null  datetime64[ns]
dtypes: bool(2), datetime64[ns](1), int64(1), object(10)
memory usage: 6.1+ MB

In [20]:
data['stop_date']=pd.to_datetime(data['stop_date'],errors='coerce').dt.strftime('%Y-%m-%d')
data['stop_time']=pd.to_datetime(data['stop_time'],errors='coerce').dt.strftime('%H:%M:%S')

C:\Users\LOQ\AppData\Local\Temp\ipykernel_20764\3053141548.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['stop_time']=pd.to_datetime(data['stop_time'],errors='coerce').dt.strftime('%H:%M:%S')

In [69]:
#data.where(pd.notnull(data),None) dont use

,stop_date,stop_time,country_name,driver_gender,driver_age,violation,search_conducted,search_type,stop_outcome,stop_duration,drugs_related_stop,vehicle_number,Timestamp
0,2020-01-01,None,Canada,M,19,Speeding,True,Vehicle Search,Ticket,16-30 Min,True,UP76DY3473,2020-01-01 00:00:00
1,2020-01-01,None,India,M,58,Other,False,Vehicle Search,Arrest,16-30 Min,True,RJ83PZ4441,2020-01-01 00:01:00
2,2020-01-01,None,USA,M,76,Speeding,False,Frisk,Ticket,16-30 Min,True,RJ32OM7264,2020-01-01 00:02:00
3,2020-01-01,None,Canada,M,76,DUI,True,Frisk,Warning,0-15 Min,True,RJ76TI3807,2020-01-01 00:03:00
4,2020-01-01,None,Canada,M,75,Other,False,Vehicle Search,Arrest,16-30 Min,False,WB63BB8305,2020-01-01 00:04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,00:00:00,India,F,48,Other,False,Vehicle Search,Arrest,16-30 Min,False,DL56GW6568,2020-02-15 12:13:00
65534,2020-02-15,00:00:00,Canada,F,35,Other,True,Vehicle Search,Ticket,16-30 Min,True,TN73EO7098,2020-02-15 12:14:00
65535,2020-02-15,00:00:00,USA,M,41,DUI,True,Frisk,Ticket,30+ Min,True,GJ33MX8328,2020-02-15 12:15:00
65536,2020-02-15,00:00:00,Canada,F,63,Other,False,None,Warning,0-15 Min,True,KA24UZ8488,2020-02-15 12:16:00
65537,2020-02-15,00:00:00,USA,F,32,Speeding,True,None,Ticket,16-30 Min,False,UP89PT2924,2020-02-15 12:17:00

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  object
 1   stop_time           65538 non-null  object
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age          65538 non-null  int64
 5   driver_race         65538 non-null  object
 6   violation           65538 non-null  object
 7   search_conducted    65538 non-null  bool
 8   search_type         65538 non-null  object
 9   stop_outcome        65538 non-null  object
 10  stop_duration       65538 non-null  object
 11  drugs_related_stop  65538 non-null  bool
 12  vehicle_number      65538 non-null  object
 13  Timestamp           65538 non-null  datetime64[ns]
dtypes: bool(2), datetime64[ns](1), int64(1), object(10)
memory usage: 6.1+ MB

In [22]:
#store in mysql
import pymysql as sql

In [23]:
my_con=sql.connect(host='127.0.0.1',user='root',password='Jeevanick@91')
cur=my_con.cursor()
cur.execute("create database securecheck")

ProgrammingError: (1007, "Can't create database 'securecheck'; database exists")

In [24]:
cur.execute("use securecheck")

0

In [4]:
cur.execute("""create table police_logs 
(ID int auto_increment primary key,
stop_date date,
stop_time Time,
country_name varchar(100),
driver_gender varchar(20),
driver_age INT,
driver_race varchar(50),
violation varchar(100),
search_conducted BOOLEAN,
search_type varchar(100),
stop_outcome varchar(100),
stop_duration varchar(100),
drugs_related_stop BOOLEAN,
vehicle_number varchar(20),
Timestamp DATETIME);""")

0

In [25]:
insert_query=(""" insert into police_logs 
(stop_date,stop_time,country_name,driver_gender,driver_age,driver_race,violation,search_conducted,search_type,stop_outcome,stop_duration,drugs_related_stop,
vehicle_number,Timestamp)
values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)""")

for _,row in data.iterrows():
    cur.execute(insert_query,(
        row['stop_date'],
        row['stop_time'],
        row.get('country_name'),
        row.get('driver_gender'),
        int(row.get('driver_age')) if row.get('driver_age') is not None else None,
        row.get('driver_race'),
        row.get('violation'),
        bool(row.get('search_conducted')) if row.get('search_conducted') is not None else None,
        row.get('search_type'),
        row.get('stop_outcome'),
        row.get('stop_duration'),
        bool(row.get('drugs_related_stop')) if row.get('drugs_related_stop') is not None else None,
        row.get('vehicle_number',f'VEH{row.name}'),
        row['Timestamp']))

my_con.commit()
cur.close()
my_con.close()
print(" Data Successfully Inserted into Table")

 Data Successfully Inserted into Table

In [26]:
data.tail()

,stop_date,stop_time,country_name,driver_gender,driver_age,driver_race,violation,search_conducted,search_type,stop_outcome,stop_duration,drugs_related_stop,vehicle_number,Timestamp
65533,2020-02-15,12:13:00,India,F,48,Black,Other,False,Vehicle Search,Arrest,16-30 Min,False,DL56GW6568,2020-02-15 12:13:00
65534,2020-02-15,12:14:00,Canada,F,35,Hispanic,Other,True,Vehicle Search,Ticket,16-30 Min,True,TN73EO7098,2020-02-15 12:14:00
65535,2020-02-15,12:15:00,USA,M,41,Asian,DUI,True,Frisk,Ticket,30+ Min,True,GJ33MX8328,2020-02-15 12:15:00
65536,2020-02-15,12:16:00,Canada,F,63,Black,Other,False,None,Warning,0-15 Min,True,KA24UZ8488,2020-02-15 12:16:00
65537,2020-02-15,12:17:00,USA,F,32,Other,Speeding,True,None,Ticket,16-30 Min,False,UP89PT2924,2020-02-15 12:17:00

In [96]:
#for read from sql database
import pandas as pd
query="select * from police_logs;"
df1=pd.read_sql(query,my_con)

C:\Users\LOQ\AppData\Local\Temp\ipykernel_17192\3435982847.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1=pd.read_sql(query,my_con)

In [97]:
df1.head()

,ID,stop_date,stop_time,country_name,driver_gender,driver_age,violation,search_conducted,search_type,stop_outcome,stop_duration,drugs_related_stop,vehicle_number,Timestamp
0,1,2020-01-01,0 days 00:00:00,Canada,M,19,Speeding,1,Vehicle Search,Ticket,16-30 Min,1,UP76DY3473,2020-01-01 00:00:00
1,2,2020-01-01,0 days 00:01:00,India,M,58,Other,0,Vehicle Search,Arrest,16-30 Min,1,RJ83PZ4441,2020-01-01 00:01:00
2,3,2020-01-01,0 days 00:02:00,USA,M,76,Speeding,0,Frisk,Ticket,16-30 Min,1,RJ32OM7264,2020-01-01 00:02:00
3,4,2020-01-01,0 days 00:03:00,Canada,M,76,DUI,1,Frisk,Warning,0-15 Min,1,RJ76TI3807,2020-01-01 00:03:00
4,5,2020-01-01,0 days 00:04:00,Canada,M,75,Other,0,Vehicle Search,Arrest,16-30 Min,0,WB63BB8305,2020-01-01 00:04:00

In [98]:
df1.tail()

,ID,stop_date,stop_time,country_name,driver_gender,driver_age,violation,search_conducted,search_type,stop_outcome,stop_duration,drugs_related_stop,vehicle_number,Timestamp
65533,65534,2020-02-15,0 days 12:13:00,India,F,48,Other,0,Vehicle Search,Arrest,16-30 Min,0,DL56GW6568,2020-02-15 12:13:00
65534,65535,2020-02-15,0 days 12:14:00,Canada,F,35,Other,1,Vehicle Search,Ticket,16-30 Min,1,TN73EO7098,2020-02-15 12:14:00
65535,65536,2020-02-15,0 days 12:15:00,USA,M,41,DUI,1,Frisk,Ticket,30+ Min,1,GJ33MX8328,2020-02-15 12:15:00
65536,65537,2020-02-15,0 days 12:16:00,Canada,F,63,Other,0,None,Warning,0-15 Min,1,KA24UZ8488,2020-02-15 12:16:00
65537,65538,2020-02-15,0 days 12:17:00,USA,F,32,Speeding,1,None,Ticket,16-30 Min,0,UP89PT2924,2020-02-15 12:17:00